on:
  push:
    branches: master
  schedule:
    - cron: "45 23 * * *"

name: update data

jobs:
  render:
    name: update data
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@v1
      - name: Install packages
        run: Rscript -e 'install.packages(c("arrow", "readr"))'
      - name: Render README
        run: Rscript -e 'csvgz-to-parquet.R'
      - name: Commit results
        run: |
          git add .
          git commit -m 'updateData' || echo "No changes to commit"
          git push origin || echo "No changes to commit"